.popup__error {
    display: none;
    margin: 0 auto;
    padding-top: 5px;
    min-height: 12px;
    width: 358px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}

@media (max-width: 645px) {
    .popup__error {
        max-width: 238px;
    }
}
